
<div class=" fixed-bottom">
  <!-- fixed-bottom -->
  <footer class=" footer text-white text-center text-lg-start bg-dark">
    <!-- Grid container -->
    <div class="p-1 d-block">
      <!--Grid row-->
      <div class="row mt-0 justify-content-between">
        <!--Grid column-->
        <div class="col-lg-8 col-md-8 mb-0 mb-md-0">
          <h5 class="text-uppercase mb-0">About Project</h5>
          <p>
          Bu proje Github profillerini convert etmemize yarayan ve readMe dosyalarinda bir  widget gibi kullanılabilen bir projedir.
          </p>
        </div>
          <div class="col-lg-4 col-md-4 mb-md-0 d-block">
              <a type="button" class="btn btn-floating btn-dark btn-lg text-light" href=""><i class="fab fa-github"></i> | Github</a>
              <a type="button" class="btn btn-floating btn-dark btn-lg text-light" href=""><i class="fab fa-linkedin"></i> | LinkedIn</a>
              <a type="button" class="btn btn-floating btn-dark btn-lg text-light" href=""><i class="fab fa-google-plus-g"></i> | Google</a>
          </div>
      </div
      >
    </div>
    <div class="text-center" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-white" href="https://hhsware.com.tr/">https//hhsware.com.tr</a>
    </div>
  </footer>
</div>
