<input type="text" placeholder="Kullanici Adi Giriniz" #userName (keydown.enter)="sorgula(userName.value)">
<div>
  {{user.UserName}} <br>
  {{user.Name}} <br>
  {{user.Bio}} <br>
  {{user.Blog}} <br>
  {{user.Company}} <br>
  {{user.Email}} <br>
  {{user.Followers}} <br>
  {{user.Following}} <br>
  {{user.InstagramUrl}} <br>
  {{user.Location}} <br>
  {{user.TwitterUrl}} <br>
  {{user.LinkedInUrl}} <br>
  {{user.Url}} <br>
  <img src="{{user.Photo}}" class="rounded-pill" alt=""><br>
</div>

<div *ngIf="repos">
  <div *ngFor="let item of repos">
    <span>{{item.RepoName}}</span> |
    <span>{{item.Url}}</span> |
    <span>{{item.Description}}</span> |
    <span>------------------------------------</span>
    <br>
  </div>
</div>
